<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <connectionStrings>
    <add name="AJA_UserEntities" connectionString="metadata=res://*/Entities.Userdetails.csdl|res://*/Entities.Userdetails.ssdl|res://*/Entities.Userdetails.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.200.0.24;initial catalog=AJA;user id=sa;password=welcome1!;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EditorsEntities" connectionString="metadata=res://*/Entities.EditorsDetails.csdl|res://*/Entities.EditorsDetails.ssdl|res://*/Entities.EditorsDetails.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.200.0.24;initial catalog=AJA;user id=sa;password=welcome1!;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Cogent3Entities" connectionString="metadata=res://*/Entities.Cogent3.csdl|res://*/Entities.Cogent3.ssdl|res://*/Entities.Cogent3.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.200.0.24;initial catalog=Cogent3;user id=sa;password=welcome1!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SearchEntities" connectionString="metadata=res://*/Entities.SearchInfo.csdl|res://*/Entities.SearchInfo.ssdl|res://*/Entities.SearchInfo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.200.0.24;initial catalog=AJA;user id=sa;password=welcome1!;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>