@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")

<table width="100%">

    <tr>
        <td>
            <table width="1170" align="center" style="margin:0 auto;">
                <tr>
                    <td align="left">
                        <img src="/Content/images/Subpage_banner.jpg"></td>
                    <td align="right"><a href="/User/Register">
                        <img src="/Content/images/Subpage_profilebgrnd.jpg"></a></td>
                </tr>
            </table>
        </td>
    </tr>

    <tr>
        <td class="shdwContr"></td>
    </tr>

    <tr>
        <td>
            <div align="center" class="commonContent">

                <div class="floatleft">
                    <div align="center">
                        <table width="705" border="0">
                            <td>
                                <h1>Contact Us</h1>
                                <p>
                                    For questions about the NLM databases and the hardware and software necessary to use the
                                    <br>
                                    ACR Journal Advisor system, please <a href="mailto:ACRjournaladvisor@acr.org">E-mail</a> Customer Support.
                                </p>
                            </td>
                        </table>
                    </div>
                </div>

                <div class="floatright">
                    <a href="http://www.acr.org/Education/e-Learning/HHT" target="_blank">
                        <img src="/Content/images/160x600-ad.jpg" /></a>
                </div>

                <div class="clear"></div>

            </div>

        </td>

    </tr>

</table>









