@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
<!DOCTYPE html>
<html>

<head>
    <title>ACR Journal Advisor Preview
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
     <link rel="shortcut icon" href="/Content/images/favicon.ico" type="image/x-icon" />
</head>

<body marginheight="0" marginwidth="0" topmargin="0" leftmargin="0">
    <div align="center">
        <table width="100%">
            <tr>
                <td>
                    <table width="1170" align="center" style="margin:0 auto;">
                        <tr>
                            <td align="left">
                                <img src="/Content/images/Subpage_banner.jpg"></td>
                            <td align="right"><a href="@Url.Action("Register", "User")">
                                <img src="/Content/images/Subpage_profilebgrnd.jpg"></a></td>
                        </tr>
                    </table>
                </td>
            </tr>

            <tr>
                <td class="shdwContr"></td>
            </tr>

            <tr>
                <td>
                    <div class="commonContent">

                        <div class="floatleft imgbrdr" style="width: 1000px">

                            <h1>preview    </h1>
                            <br />

                            <h3>REGISTRATION PROCESS AND SERVICES TOUR</h3>
                            <hr />
                            <p>Registration is free and simple and gives you instant access to ACR Journal Advisor's reference tools, suggested reading, and expert commentary. Your profile selects for relevant services and builds an online medical library tailored to your interests. Personal information is kept private. You may modify your profile at any time.</p>
                            <div align="center">
                                <img src="/Content/images/register.jpg" />
                            </div>
                            <br />


                            <h3>YOUR LIBRARY </h3>
                            <hr />
                            <p>Once registered, you can access and modify a library of citations and expert commentary relevant to your specialty. </p>
                            <div align="center">
                                <img src="/Content/images/library.jpg" />
                            </div>
                            <br />


                            <h3>TOPICS </h3>
                            <hr />
                            <p>When you first register, your library starts with default structure and content (MEDLINE® citations and expert commentary). Where you choose to take it from there is up to you! By clicking My Library on the menu bar, you can delete, add, or create new Topics and Subtopics, shaping your library into a powerful, personal tool. </p>
                            <p>Topics are broad categories, such as Lung Cancer. Within Topics are Subtopics, such as Small Cell Lung Cancer. </p>
                            <div align="center">
                                <img src="/Content/images/topics.jpg" />
                            </div>
                            <br />


                            <h3>SUB TOPICS </h3>
                            <hr />
                            <p>Each Topic has three folders: Seminal Citations, Editors Choice and My Saved Citations, each with a different use. </p>

                            <p>
                                <b>Seminal Citations</b><br />
                                Contains a select collection of past citations germane to the Subtopic that have been selected by ACR Journal Advisor's expert editor. 
                            </p>

                            <p>
                                <b>Editors Choice: </b>
                                <br />
                                Contains new citations germane to the Subtopic that have been selected by ACR Journal Advisor's expert editor.
                            </p>

                            <p>
                                <b>My Saved Citations:  </b>
                                <br />
                                Search MEDLINE and save citations to your library for easy and organized access. As you delete and add new material, My Saved Citations becomes your personal library.
                                <br />
                                Set up automatic search tools (AutoQueries) that prospectively scan MEDLINE for new citations that match your interests and add these to your library. Save or delete these citations manually, or just program them for automatic save/delete after a period of time.
                                <br />
                                Annotate your saved citations with notes/comments and easy-to-recognize nicknames. 
                            </p>
                            <div align="center">
                                <img src="/Content/images/subtopics.jpg" />
                            </div>
                            <br />


                            <h3>Folders - Citation Containers </h3>
                            <hr />
                            <p>
                                In each of these folders, citations are displayed in bibliographic form, including the first three authors, title, source, and Pub Med identification number.
                            </p>
                            <p>Citations may be sorted by First Author Name, Journal, or Date. You may also search within the folder to find a particular name or term. </p>
                            <div align="center">
                                <img src="/Content/images/citations-containers.jpg" />
                            </div>
                            <br />


                            <h3>DISPLAYING CITATIONS </h3>
                            <hr />
                            <p>Display the citation abstract by clicking OPEN.</p>
                            <p>Display expert commentary by clicking Editor's Comment. Note that only those citations chosen by our editors have commentary, and some citations were intentionally chosen without comment. Of course, editor selection of a citation does not imply endorsement of it, its results or conclusions. </p>
                            <div align="center">
                                <img src="/Content/images/displaying-citations.jpg" />
                            </div>
                            <br />
                            <br />
                            <pre>Thank you for previewing ACR Journal Advisor! Please <a href="mailto:ACRjournaladvisor@acr.org">contact us</a> if you have questions or suggestions. </pre>
                            <pre>To register now, <a href='/User/Register'>click here</a> </pre>
                        </div>
                        <div class="floatright">
                            <a href="http://www.acr.org/Education/e-Learning/HHT" target="_blank">
                                <img src="/Content/images/160x600-ad.jpg" /></a>
                        </div>
                        <div class="clear"></div>
                    </div>

                </td>

            </tr>
        </table>
</body>

</html>


