@model DAL.Models.ForgotPassword

@{
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}

@using (Html.BeginForm("ForgotPassword", "User", FormMethod.Post))
{
    <table width="100%">

        <tr>
            <td>
                <table width="1170" align="center" style="margin: 0 auto;">
                    <tr>
                        <td align="left">
                            <img src="~/Content/images/Subpage_banner.jpg"></td>
                        <td align="right"><a href="/User/Register">
                            <img src="~/Content/images/Subpage_profilebgrnd.jpg"></a></td>
                    </tr>
                </table>
                <div style="position: absolute; left: 0px; width: 100%; background: url('../Content/images/banner_shade.png') repeat-x; height: 15px;"></div>
            </td>
        </tr>

        <tr>
            <td>
                <table width="1170" align="center" style="margin: 0 auto;">
                    <tr>
                        <td colspan="3" height="15"></td>
                    </tr>
                    <tr>

                        <td valign="top">
                            <h2>Forgotten your password? </h2>
                            <span>Provide your user name and we will email it to you!</span>
                            <br /><br />
                            <h2>Forgotten your user name? </h2>
                            <span>Provide your registered email address and we will email it to you!</span>
                               <br /><br />
                            @Html.AntiForgeryToken()

                            <div style="float: left">
                                @Html.ValidationMessageFor(m => m.EmailId)
                            </div>

                            <div class="signinbox">
                                @Html.LabelFor(model => model.EmailId)
                                @Html.TextBoxFor(model => model.EmailId, new { id = "txt_fgr_pwd_emailid" })
                                <input type="submit" id="btn_frgt_pwd" value="Send" />
                            </div>
                        </td>
                        <td width="10"></td>
                        <td align="right" valign="top" width="160">
                            <a href="http://www.acr.org/Education/e-Learning/HHT" target="_blank"/>
                                <img src="~/Content/images/160x600-ad.jpg" />
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
}